@media only screen and (max-width: 1930px) {

}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1390px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 770px) {
  .header .call-bar-link {
    display: block;
  }
  .header .secondary-site-nav {
    display: none;
  }
  .header__head--logo .head-logo {
    width: 100%;
    height: 54px;
    img {
      height: 100%;
    }
  }
  .header__head--left .header-banner {
    display: none;
  }
  .header__head--left .header-nav-toggle {
    display: inline-block;
    position: relative;
    top: 0px;
    z-index: 3;
    left: 0;
  }
  .header__call {
    display: none;
  }
  .header__primary-nav {
    width: 225px;
    height: 560px;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #f6f6f6;
    border-right: 1px solid #dfdfdf;
    z-index: 600;
    transition: transform 250ms cubic-bezier(0.24, 0.63, 0.44, 1);
  }
  .header__wrap--nav {
    width: 100%;
  }
  .header .primary-site-nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header .primary-site-nav__item {
    width: 100%;
    padding-left: 64px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .header .primary-nav__links {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 64px;
  }
  .header__search-field {
    padding: 5px 0;
    padding-left: 35px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 18px;
  }
  .header .submenu {
    display: block;
    position: relative;
  }
  .header .submenu li:nth-of-type(1), .header .submenu li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
  .header .submenu li:nth-of-type(1) ul {
    padding: 0;
    width: 100%;
    column-count: 1;
    column-gap: 0px;
  }

  .main-slider__notification--img {
    margin-right: 0px;
    width: 30%;
    margin-top: 39px;
  }
  .main-slider__notification--title {
    width: 70%;
  }
  .items__element {
    width: 100%;
    height: 292px;
    margin: 10px 0px;
  }

  .footer__nav-box--element {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .footer__newsletter {
    width: 100%;
    padding: 0px;
  }
  .footer__newsletter--fields {
    flex-direction: column;
  }
  .footer__social-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 680px) {
  .header .call-bar-link {
    display: block;
  }
  .header .secondary-site-nav {
    display: none;
  }
  .header__head--logo .head-logo {
    width: 100%;
    height: 54px;
    img {
      height: 100%;
    }
  }
  .header__head--left .header-banner {
    display: none;
  }
  .header__head--left .header-nav-toggle {
    display: inline-block;
    position: relative;
    top: 0px;
    z-index: 3;
    left: 0;
  }
  .header__call {
    display: none;
  }
  .header__primary-nav {
    width: 225px;
    height: 560px;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #f6f6f6;
    border-right: 1px solid #dfdfdf;
    z-index: 600;
    transition: transform 250ms cubic-bezier(0.24, 0.63, 0.44, 1);
  }
  .header__wrap--nav {
    width: 100%;
  }
  .header .primary-site-nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header .primary-site-nav__item {
    width: 100%;
    padding-left: 64px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .header .primary-nav__links {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 64px;
  }
  .header__search-field {
    padding: 5px 0;
    padding-left: 35px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 18px;
  }
  .header .submenu {
    display: block;
    position: relative;
  }
  .header .submenu li:nth-of-type(1), .header .submenu li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
  .header .submenu li:nth-of-type(1) ul {
    padding: 0;
    width: 100%;
    column-count: 1;
    column-gap: 0px;
  }

  .main-slider__notification--img {
    margin-right: 0px;
    width: 30%;
    margin-top: 39px;
  }
  .main-slider__notification--title {
    width: 70%;
  }
  .items__element {
    width: 100%;
    height: 292px;
    margin: 10px 0px;
  }

  .footer__nav-box--element {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .footer__newsletter {
    width: 100%;
    padding: 0px;
  }
  .footer__newsletter--fields {
    flex-direction: column;
  }
  .footer__social-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 568px) {
  .header .call-bar-link {
    display: block;
  }
  .header .secondary-site-nav {
    display: none;
  }
  .header__head--logo .head-logo {
    width: 100%;
    height: 54px;
    img {
      height: 100%;
    }
  }
  .header__head--left .header-banner {
    display: none;
  }
  .header__head--left .header-nav-toggle {
    display: inline-block;
    position: relative;
    top: 0px;
    z-index: 3;
    left: 0;
  }
  .header__call {
    display: none;
  }
  .header__primary-nav {
    width: 225px;
    height: 560px;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #f6f6f6;
    border-right: 1px solid #dfdfdf;
    z-index: 600;
    transition: transform 250ms cubic-bezier(0.24, 0.63, 0.44, 1);
  }
  .header__wrap--nav {
    width: 100%;
  }
  .header .primary-site-nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header .primary-site-nav__item {
    width: 100%;
    padding-left: 64px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .header .primary-nav__links {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 64px;
  }
  .header__search-field {
    padding: 5px 0;
    padding-left: 35px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 18px;
  }
  .header .submenu {
    display: block;
    position: relative;
  }
  .header .submenu li:nth-of-type(1), .header .submenu li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
  .header .submenu li:nth-of-type(1) ul {
    padding: 0;
    width: 100%;
    column-count: 1;
    column-gap: 0px;
  }

  .main-slider__notification--img {
    margin-right: 0px;
    width: 30%;
    margin-top: 39px;
  }
  .main-slider__notification--title {
    width: 70%;
  }
  .items__element {
    width: 100%;
    height: 292px;
    margin: 10px 0px;
  }

  .footer__nav-box--element {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .footer__newsletter {
    width: 100%;
    padding: 0px;
  }
  .footer__newsletter--fields {
    flex-direction: column;
  }
  .footer__social-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .header .call-bar-link {
    display: block;
  }
  .header .secondary-site-nav {
    display: none;
  }
  .header__head--logo .head-logo {
    width: 100%;
    height: 54px;
    img {
      height: 100%;
    }
  }
  .header__head--left .header-banner {
    display: none;
  }
  .header__head--left .header-nav-toggle {
    display: inline-block;
    position: relative;
    top: 0px;
    z-index: 3;
    left: 0;
  }
  .header__call {
    display: none;
  }
  .header__primary-nav {
    width: 225px;
    height: 560px;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #f6f6f6;
    border-right: 1px solid #dfdfdf;
    z-index: 600;
    transition: transform 250ms cubic-bezier(0.24, 0.63, 0.44, 1);
  }
  .header__wrap--nav {
    width: 100%;
  }
  .header .primary-site-nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header .primary-site-nav__item {
    width: 100%;
    padding-left: 64px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .header .primary-nav__links {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 64px;
  }
  .header__search-field {
    padding: 5px 0;
    padding-left: 35px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 18px;
  }
  .header .submenu {
    display: block;
    position: relative;
  }
  .header .submenu li:nth-of-type(1), .header .submenu li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
  .header .submenu li:nth-of-type(1) ul {
    padding: 0;
    width: 100%;
    column-count: 1;
    column-gap: 0px;
  }

  .main-slider__notification--img {
    margin-right: 0px;
    width: 30%;
    margin-top: 39px;
  }
  .main-slider__notification--title {
    width: 70%;
  }
  .items__element {
    width: 100%;
    height: 292px;
    margin: 10px 0px;
  }

  .footer__nav-box--element {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .footer__newsletter {
    width: 100%;
    padding: 0px;
  }
  .footer__newsletter--fields {
    flex-direction: column;
  }
  .footer__social-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 380px) {
  .header .call-bar-link {
    display: block;
  }
  .header .secondary-site-nav {
    display: none;
  }
  .header__head--logo .head-logo {
    width: 100%;
    height: 54px;
    img {
      height: 100%;
    }
  }
  .header__head--left .header-banner {
    display: none;
  }
  .header__head--left .header-nav-toggle {
    display: inline-block;
    position: relative;
    top: 0px;
    z-index: 3;
    left: 0;
  }
  .header__call {
    display: none;
  }
  .header__primary-nav {
    width: 225px;
    height: 560px;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #f6f6f6;
    border-right: 1px solid #dfdfdf;
    z-index: 600;
    transition: transform 250ms cubic-bezier(0.24, 0.63, 0.44, 1);
  }
  .header__wrap--nav {
    width: 100%;
  }
  .header .primary-site-nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header .primary-site-nav__item {
    width: 100%;
    padding-left: 64px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .header .primary-nav__links {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 64px;
  }
  .header__search-field {
    padding: 5px 0;
    padding-left: 35px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 18px;
  }
  .header .submenu {
    display: block;
    position: relative;
  }
  .header .submenu li:nth-of-type(1), .header .submenu li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
  .header .submenu li:nth-of-type(1) ul {
    padding: 0;
    width: 100%;
    column-count: 1;
    column-gap: 0px;
  }

  .main-slider__notification--img {
    margin-right: 0px;
    width: 30%;
    margin-top: 39px;
  }
  .main-slider__notification--title {
    width: 70%;
  }
  .items__element {
    width: 100%;
    height: 292px;
    margin: 10px 0px;
  }

  .footer__nav-box--element {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .footer__newsletter {
    width: 100%;
    padding: 0px;
  }
  .footer__newsletter--fields {
    flex-direction: column;
  }
  .footer__social-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .header .call-bar-link {
    display: block;
  }
  .header .secondary-site-nav {
    display: none;
  }
  .header__head--logo .head-logo {
    width: 100%;
    height: 54px;
    img {
      height: 100%;
    }
  }
  .header__head--left .header-banner {
    display: none;
  }
  .header__head--left .header-nav-toggle {
    display: inline-block;
    position: relative;
    top: 0px;
    z-index: 3;
    left: 0;
  }
  .header__call {
    display: none;
  }
  .header__primary-nav {
    width: 225px;
    height: 560px;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #f6f6f6;
    border-right: 1px solid #dfdfdf;
    z-index: 600;
    transition: transform 250ms cubic-bezier(0.24, 0.63, 0.44, 1);
  }
  .header__wrap--nav {
    width: 100%;
  }
  .header .primary-site-nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header .primary-site-nav__item {
    width: 100%;
    padding-left: 64px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .header .primary-nav__links {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 64px;
  }
  .header__search-field {
    padding: 5px 0;
    padding-left: 35px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 18px;
  }
  .header .submenu {
    display: block;
    position: relative;
  }
  .header .submenu li:nth-of-type(1), .header .submenu li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
  }
  .header .submenu li:nth-of-type(1) ul {
    padding: 0;
    width: 100%;
    column-count: 1;
    column-gap: 0px;
  }

  .main-slider__notification--img {
    margin-right: 0px;
    width: 30%;
    margin-top: 39px;
  }
  .main-slider__notification--title {
    width: 70%;
  }
  .items__element {
    width: 100%;
    height: 292px;
    margin: 10px 0px;
  }

  .footer__nav-box--element {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .footer__newsletter {
    width: 100%;
    padding: 0px;
  }
  .footer__newsletter--fields {
    flex-direction: column;
  }
  .footer__social-links {
    justify-content: center;
  }
}


